body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-transform: none;

  background-position: top center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding: 0 2.3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, button {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

fieldset {
  border: 0;
  padding: 0;
}

svg {
  fill: currentColor;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.inner-page {
  background-color: #849d8f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(15%, transparent));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, transparent 15%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, transparent 15%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, transparent 15%);
  background-size: 2000px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-header {
  min-height: 80px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  width: 400px;
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navigation-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 154px;
  padding: 0;
  margin: 0 auto;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  list-style: none;
  white-space: nowrap;
  width: 365px;
}

.site-navigation li {
  margin: 0 auto;
  padding-left: 9px;
}

.site-navigation a {
  padding: 5px 10px;
}

.site-navigation a,
.breadcrumbs a:not(last-of-type) {
  text-align: left;
  text-decoration: underline;
  -webkit-text-decoration-color: #adbdb4;
  text-decoration-color: #adbdb4;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;
  font-weight: 700;
  text-decoration: none;
  border-radius: 40px;
  border: none;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.site-navigation a:active {
  color: #333333;
  font-weight: 700;
  text-decoration: none;
  border-radius: 40px;
  border: none;
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0px #696969;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

ul{
  margin: 0;
  padding: 0;
}

.catalog-button {
  font-weight: 700;
  background-color: #d07058;
  border-radius: 15px;
}

.inner-catalog>a {
  text-decoration: none;
}

.catalog-navigation {
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 143px;
  height: 171px;
  position: absolute;
  top: 60px;
  margin-top: 0;
  font-weight: 300;
  list-style: none;
  display: none;
  z-index:1;
}

.catalog-navigation li:first-of-type {
  border-bottom: 1px solid #d1d0ce;
  font-weight: 700;
}

.catalog a:hover + .catalog-navigation,
.catalog-navigation:hover {
  display: block;
}

.catalog-navigation a {
  font-size: 14px;
  line-height: 16px;

  color: #323232;
  text-decoration: none;
  background-color: transparent;
  display: block;
  top: 0;
  left: 25px;
  width: 113px;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  margin-top: 5px;
  margin-left: -5px;
  margin-right: -5px;
}

.catalog-navigation a:last-of-type {
  padding-bottom: 5px;
}

.catalog-navigation li:first-of-type {
  border-bottom: 1px solid #d1d0ce;
}

.catalog-navigation li {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  font-weight: normal;
  text-decoration: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: #fbded7;
}

li .current-page {
  background-color: #d07058;
  color: #ffffff;
}

li .current-page:hover,
li .current-page:focus {
  background-color: #d07058;
  color: #ffffff;
}

li .catalog-new:hover,
.catalog-new:focus {
  font-weight: 700;
}

.catalog-navigation a:active {
  background-color: #f6b5a5;
}

li .current-page:active {
  background-color: #d07058;
  color: #ffffff;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 257px;
  padding: 0;
  list-style: none;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
}

.user-navigation li {
  margin: 0 auto;
}

.user-navigation li:nth-child(2) {
  flex-grow: 1;
}

.catalog-new {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.search-form {
  width: 341px;
  height: 84px;
  position: absolute;
  top: 40px;

  list-style: none;
  display: none;
  z-index:1;
  background-color: #f8f7f4;
  color: #333333;

  border-radius: 5px;
}

.search-main {
  padding: 20px 15px;
}

.search-main input {
  width: 311px;
  height: 44px;
  text-align: left;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  color: #999999;
}

.search-main input::-webkit-input-placeholder {
  color: #999999;
}

.search-main input:-moz-placeholder { /* Firefox 18- */
  color: #999999;
}

.search-main input::-moz-placeholder {  /* Firefox 19+ */
  color: #999999;
}

.search-main input:-ms-input-placeholder {
  color: #999999;
}

.search-link {
  padding: 7px 8px 5px 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search-link:hover,
.search-link:hover path {
  color: #000000;
  background-color: #ffffff;
  fill: currentColor;
}

.search-link:hover + .search-form,
.search-form:hover {
  display: block;
}

.modal-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.login-form {
  width: 277px;
  height: 214px;
  position: absolute;
  top: 40px;

  list-style: none;
  display: none;
  z-index:1;
}

.login-link {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  vertical-align: middle;
  padding: 6px 17px 7px 15px;
  text-align: center;
}

.login-link svg {
  margin: 0;
  vertical-align: middle;
  padding-right: 7px;
}

.login-link:hover,
.login-link:hover g polygon,
.login-link:hover g path {
  fill: currentColor;
  color: #000000;
  background-color: #ffffff;
}

.user {
  display: block;
  width: 240px;
  height: 173px;
  padding: 20px;
}

.user p,
.user ul {
  margin: 0;
  margin-bottom: 20px;
}

.user input {
  width: 211px;
  height: 12px;
  text-align: left;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  color: #999999;
}

.user input::-webkit-input-placeholder {
  color: #999999;
}

.user input:-moz-placeholder { /* Firefox 18- */
  color: #999999;
}

.user input::-moz-placeholder {  /* Firefox 19+ */
  color: #999999;
}

.user input:-ms-input-placeholder {
  color: #999999;
}

.login-entrance {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

.login-entrance ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none;
}

.login-list a {
  margin: 0;
  padding: 0;
}

.login-entrance button {
  padding: 10px 23px;
}

.login-link:hover + .login-form,
.login-form:hover {
  display: block;
}

.modal-cart {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.cart-form {
  width: 510px;
  height: 202px;
  position: absolute;
  top: 40px;

  padding: 18px 15px 20px 15px;
  margin: 0;
  list-style: none;
  display: none;
  z-index: 1;
}

.table-cart {
  width: 510px;
  text-align: left;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  border-bottom: 1px solid #cacac7;
}

.small-close {
  border: none;
  background-color: transparent;
  padding: 0 10px 0 5px;
  cursor: pointer;
}

td {
  padding: 0;
  margin: 0;
}

td:nth-child(3) {
  padding: 10px 20px 10px 10px;
}

td:nth-child(4) {
  padding-right: 25px;
  white-space: nowrap;
}

td:nth-child(5) {
  padding-right: 20px;
  white-space: nowrap;
}

.cart-link:hover + .cart-form,
.cart-form:hover {
  display: block;
}

.cart-confirm {
  display: inline-block;
  right: 15px;
  bottom: 35px;
  position: absolute;
  padding: 0px;
}

.modal-cart p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
  margin: 15px 0px 25px 0px;
}

.cart-confirm a {
  padding: 10px 14px;
  margin-bottom: 5px;
}

.cart-form a {
  font-size: 18px;
  line-height: 24px;
}

.cart-link {
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 3px 30px 4px 15px;
  text-align: left;
}

.cart-link-inner {
  background-color: #ffffff;
  color: #000000;
  padding: 3px 14px 3px 10px;
}

.cart-link svg {
  margin: 0;
  vertical-align: middle;
  padding-right: 8px;
}

.cart-link:hover,
.cart-link:hover g {
  fill: currentColor;
  color: #000000;
  background-color: #ffffff;
}

.short-contacts {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
  display: inline-block;
  text-align: right;
}

.short-contacts p {
  margin: 0;
  padding: 2px 0px;
}

.short-contacts p:first-child {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
}

.breadcrumbs, .breadcrumbs a  {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  list-style: none;
}

.site-wrapper {
  min-width: 900px;
  background-color: #849d8f;
  background-image: url("../img/bg_ice-cream-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.background {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 274px;
  padding-bottom: 10px;
}

.slider-slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  color: #ffffff;
}

.background p {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

body>input {
  display: none;
}

button[type="submit"],
.button {
  font-weight: 700;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(202,56,36)), to(rgb(242,104,67)));
  background-image: -webkit-linear-gradient(bottom, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -o-linear-gradient(bottom, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient(to top, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);

  border-radius: 40px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover,
.button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(100%, rgb(236,111,94)), color-stop(0%, rgb(245,134,105)));
  background-image: -webkit-linear-gradient(bottom, rgb(236,111,94) 100%, rgb(245,134,105) 0%);
  background-image: -o-linear-gradient(bottom, rgb(236,111,94) 100%, rgb(245,134,105) 0%);
  background-image: linear-gradient(to top, rgb(236,111,94) 100%, rgb(245,134,105) 0%);
  -webkit-box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);
          box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);
}

button[type="submit"]:active,
.button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(231,74,53)), to(rgb(242,104,67)));
  background-image: -webkit-linear-gradient(top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -o-linear-gradient(top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient(to bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: inset 0px 2px 2px #942718;
          box-shadow: inset 0px 2px 2px #942718;
}

.slide {
  display: none;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;

  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(231,74,53)), to(rgb(242,104,67)));

  background-image: -webkit-linear-gradient(bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  background-image: -o-linear-gradient(bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 13px 43px;
}

.slider-button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(100%, rgb(236,111,94)), color-stop(0%, rgb(245,134,105)));
  background-image: -webkit-linear-gradient(bottom, rgb(236,111,94) 100%, rgb(245,134,105) 0%);
  background-image: -o-linear-gradient(bottom, rgb(236,111,94) 100%, rgb(245,134,105) 0%);
  background-image: linear-gradient(to top, rgb(236,111,94) 100%, rgb(245,134,105) 0%);
  -webkit-box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
  box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
}

.slider-button:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(100%, rgb(231,74,53)), color-stop(0%, rgb(242,104,67)));
  background-image: -webkit-linear-gradient(bottom, rgb(231,74,53) 100%, rgb(242,104,67) 0%);
  background-image: -o-linear-gradient(bottom, rgb(231,74,53) 100%, rgb(242,104,67) 0%);
  background-image: linear-gradient(to top, rgb(231,74,53) 100%, rgb(242,104,67) 0%);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
  box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

.slider-controls {
  width: 433px;
  top: 444px;
  text-align: left;
  list-style: none;
  position: absolute;
  color: #ffffff;
}

.slider-controls label {
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;

  font-size: 0;

  border: 2px solid #ffffff;
  margin-right: 5px;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(248,247,244,0.4);
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/bg_ice-cream-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/bg_ice-cream-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/bg_ice-cream-3.png");
}

.banners {
  width: 100%;
  min-height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

.banners ul {
  padding: 0;
  margin: 0;
}

.banners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 230px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.banners-list h3 {
  font-size: 35px;
  line-height: 41px;
  padding: 0;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 13px;
  padding-left: 18px;
}

.banners-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  width: 48.7%;
  margin: 0;
  min-height: 115px;
}

.banners-item p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 18px;
}

.banners-item:first-of-type {
  background-image: url("../img/bg_malina.jpg");
  border-radius: 15px;
  margin-right: 2.6%;
}

.banners-item:last-of-type {
  background-image: url("../img/bg_choko.jpg");

  border-radius: 15px;
}

.banner-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 11px 23px;
  margin-bottom: 19px;
  margin-right: 20px;
}

.catalog {
  margin: 0 auto;
  margin-right: 0;
}

.catalog-list {
  padding: 0px;
  margin: 0px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}


.item:nth-child(4n+1) {
  margin-left: 2.3%;
}
.item:nth-child(4n) {
  margin-right: 2.3%;
}

.catalog-item {
  display: inline-block;
  width: 23.3%;
  margin-bottom: 90px;

  position: relative;
  text-align: center;
  box-sizing: border-box;
}

.catalog-item a:not(.item-view) {
  padding: 0px;
  box-sizing: border-box;
}

.catalog-item h3 {
  display: inline-block;
  position: absolute;
  top: 262px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;

  -webkit-text-decoration-color: #9db1a5;

  text-decoration-color: #9db1a5;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.catalog-item h3 + img {

  border-radius: 50%;
  border: none;
  width: 100%;
  height: auto;

}

.catalog-item-hit::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../img/icon_hit.svg") no-repeat 0 0;

}

.bg_item-view {
  display: none;
  position: absolute;
  top: -5px;
  left: -15px;
  width: 295px;
  height: 405px;

  z-index: 2;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.item-view {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 47px;

  padding: 10px 17px;

  z-index: 3;

  font-size: 18px;
  line-height: 24px;
  text-align: center;

  -webkit-box-shadow: 0 1px 2px #ac1000;

  box-shadow: 0 1px 2px #ac1000;
}

.catalog-item:hover > .bg_item-view,
.bg_item-view:hover {
  display: block;
}

.bg_item-view:hover > .item-view,
.item-view:hover {
  display: block;
}

.item-price {
  position: absolute;
  top: 208px;
  left: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 1px 3px #313235;
}

.item-price:hover {
  cursor: pointer;
}

.item-price span:first-of-type {
  vertical-align: middle;
  margin: 0px -7px;
  height: 100%;

  -webkit-filter: drop-shadow(0px 1px 3px rgba(49,50,53,0.5));

  filter: drop-shadow(0px 1px 3px rgba(49,50,53,0.5));
}

.item-price span:last-of-type {
  font-size: 30px;
  margin: 0px;
}

.features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/bg_waffle.jpg");
  border-radius: 15px;
}

.features-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 308px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.features-box h2,
.news h2 {
  line-height: 0px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.features-box p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  max-height: 70px;
  margin: 0;
  padding: 0;
  padding: 25px 30px 5px 17px;
}

.features-box h2 + p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-list {
  width: 100%;
  max-height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 35px;
}

.features-item {
  width: 46.95%;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-item:first-of-type,
.features-item:nth-child(3) {
  margin-right: 2.6%;
  margin-left: 1.75%;
}

.features-item:nth-child(2),
.features-item:nth-child(4) {
  margin-right: 1.75%;
}

.features-list li:first-child::before {
  content: url(../img/icon_ice-cream.svg);
  display: inline-block;
  width: 49px;
  height: 49px;
  vertical-align: top;
}

.features-list li:nth-child(2)::before {
  content: url(../img/icon_cow.svg);
  display: inline-block;
  width: 49px;
  height: 49px;
  vertical-align: top;
}

.features-list li:nth-child(3)::before {
  content: url(../img/icon_eco.svg);
  display: inline-block;
  width: 49px;
  height: 49px;
  vertical-align: top;

}

.features-list li:last-child::before {
  content: url(../img/icon_thermometer.svg);
  display: inline-block;
  width: 49px;
  height: 49px;
  vertical-align: top;
}


.features-item p {
  width: 475px;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding-top: 15px;
  padding-left: 8px;
}


.news-and-mail {
  width: 100%;
  min-height: 220px;
  margin: 38px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.news,
.post-form {
  width: 48.7%;
  min-height: 220px;
  margin: 0;
}

.news {
  background: url("../img/bg_strawberry.jpg") no-repeat 0 0;
  border-radius: 15px;
  margin-right: 2.6%;
}

.news:first-of-type p {
  position: relative;
  margin: 20px 0px 2px 18px;
  font-weight: 500;
  text-align: left;
  color: #323232;
}

.news a {
  display: block;
  position: absolute;
  width: 290px;
  padding-left: 18px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.news a:hover, .news a:focus{
  color: #e84d37;
}

.news a:active {
  color: #e84d37;
}

.post-form {
  background: url("../img/icon_bg_post.svg") no-repeat 0 0;
  border-radius: 15px;
}

.mailing-form {
  display: inline-block;
  width: 544px;
  min-height: 210px;
  margin-left: 6px;
  margin-top: 5px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.mail-box {
  width: 510px;
  margin: 0;
  padding: 30px 20px;
}

.mailing-form p {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0;
  margin-bottom: 33px;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 510px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.signup input {
  min-height: 40px;
  width: 356px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  color: #999999;
  padding-left: 12px;
  font-size: 16px;
}

.signup input::-webkit-input-placeholder {
  color: #999999;
}

.signup input:-moz-placeholder { /* Firefox 18- */
  color: #999999;
}

.signup input::-moz-placeholder {  /* Firefox 19+ */
  color: #999999;
}

.signup input:-ms-input-placeholder {
  color: #999999;
}

.signup button {
  padding: 7.5px 15.5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map {
  display: inline-block;
  padding: 0 ;
  width: 100%;
  min-height: 430px;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.map img {
  width: 100%;
}

.map span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map span:last-child{
  line-height: 28px;
}

.main-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 20px;
}

.footer-social {
  width: 188px;
  margin: 0 auto;
}

.social-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.footer-navigation {
  width: 330px;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-color: #ffffff;
  text-decoration-color: #ffffff;
  margin: 0 auto;
}

.contacts {
  display: block;
  width: 302px;
  min-height: 305px;
  position: absolute;
  top: 64px;
  right: 7.5%;
  z-index: 1;

  color: #000000;

  background-color: #ffffff;
  border-radius: 15px;
}

.contacts .button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-box a:active + .modal-reply,
.modal-reply:hover {
  display: block;
}

.contacts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 251px;
  min-height: 241px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  padding: 26px 26px 30px 26px;
}

.contacts-box p {
  margin: 0;
  margin-bottom: 27px;
}

.contacts-box p:first-of-type {
  margin-bottom: 16px;
}

.contacts-box a {
  margin: 0;
  margin-top: auto;
  padding: 9.5px 10px;
}

.contacts-box .button:active ~ .modal-reply-overlay,
.contacts-box .button:active ~ .modal-reply {
  display: block;
}

.modal-reply {
  display: none;
  position: fixed;
  width: 455px;
  min-height: 405px;
  top: 20%;
  left: 32%;
  z-index: 15;

  padding-top: 20px;
  padding-left: 25px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.modal-reply-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-reply h2 {
  margin-top: 0px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-reply button {
  font-size: 18px;
  line-height: 24px;
}

.question p {
  margin-top: 0;
  margin-bottom: 22px;
}

.question input {
  border-radius: 5px;
  width: 235px;
  padding: 9px 15px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  color: #999999;
  font-size: 16px;
}

.question input::-webkit-input-placeholder,
.question textarea::-webkit-input-placeholder {
  color: #999999;
}

.question textarea {
  border-radius: 5px;
  width: 396px;
  padding: 9px 15px 16px 15px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  color: #999999;
  font-size: 16px;
}

.big-close {
  position: absolute;
}

.big-close::before,
.big-close::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  width: 22px;
  height: 2px;
  background-color: #000000;
}

.big-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.big-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.big-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 0;
  background: none;
  border: 0;
  cursor: pointer;
  height: 20px;
}

.question button:last-child {
  padding: 13px 20px;
  position: relative;
  margin-bottom: 25px;
  left: 295px;
}

.social-button img {
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-button img:hover,
.social-button img:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button img:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.suppliers {
  font-weight: 700;
}

.social-list {
  list-style: none;
  padding-top: 15px;
}

.social-list li:not(:first-of-type) {
  padding-left: 10px;
}

.social-button{
  padding: 0;
}

.social-button img {
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-button img:hover,
.social-button img:focus {
  opacity: 1;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button img:active {
  opacity: 0.8;

  -webkit-filter: drop-shadow(0px 0px 0px #e9e9e9);

  filter: drop-shadow(0px 0px 0px #e9e9e9);
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-navigation a:hover {
  color: #ffbc9e;
}

.footer-copyright {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 auto;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color:#ffffff;
}

.footer-copyright img {
  padding-left: 5px;
}

.footer-copyright span {
  padding-top: 2px;
}

.footer-copyright a {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #ffbc9e;
}

.copyright {
  padding: 0px;
  -webkit-text-decoration-color: #9db1a5;
  text-decoration-color: #9db1a5;
}

.internal-navigation {
  height: 43px;
  width: 305px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  list-style: none;
  padding-top: 18px;
  padding-right: 12px;
}

.internal-navigation li:nth-child(3),
.internal-navigation li:last-child {
  padding-left: 7px;
}

.internal-navigation a {
  -webkit-text-decoration-color: #9db1a5;
  text-decoration-color: #9db1a5;
}

.internal-navigation li:first-child::before {
  position: absolute;
  left: -10px;
  content: url(../img/icon_heart.svg);
  width: 15px;
  height: 15px;
}


.modal {
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.user button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.login-list a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-color: #adacaa;
  text-decoration-color: #adacaa;
}

.table-cart span {
  color: #999999;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li:not(:last-of-type)::after {
  content: "»";
}

.filters {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.filters legend {

  font-size: 14px;
  line-height: 16px;
  padding-bottom: 7px;
}

.filters button {
  font-size: 16px;
  line-height: 18px;

  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 20px;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filters button:hover,
.filters button:focus {
  color: #323232;

  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border-color: rgb(255, 255, 255);

  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filters button:active {
  color: #323232;

  background-color: #ededed;
  border-radius: 20px;

  background-image: none;
  -webkit-box-shadow: inset 0px 2px 1px 0px #696969;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-arrow-left img {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.pagination-arrow-right img {
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
}

.pagination-item a:active {
  color: #323232;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item-current a {
  color: #323232;
  line-height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  font-weight: 500;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

/*---INNER.HTML---*/

.breadcrumbs {
  display: inline-block;
  position: absolute;
  top: 100px;
  width: 221px;
  padding-bottom: 5px;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs a {
  padding: 0;
  padding-right: 8px;
}

h1 {
  display: inline-block;
  width: 100%;
  min-height: 43px;
  margin-top: 0;
  padding-top: 0;
}

.filtr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 860px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.filters {
  margin: 0;
  padding: 0;
}

.filters button {
  width: 143px;
  min-height: 36px;

  font-size: 16px;
  line-height: 18px;
  border: 2px solid #ffffff;
}

.filters button:hover,
.filters button:focus {
  border: 2px solid #ffffff;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
}

.filters button:active {
  border: 2px solid #ffffff;
}

.filters-box-first {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filters-box-first legend {
  margin-left: 14px;
}

.filters-box-last {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 40px;
}

.filters-box-last legend {
  padding: 0;
  margin-bottom: 7px;
  padding-left: 16px;

}

.filters-box-last p {
  margin: 0;
}
label {
  cursor: pointer;
}
select {
  width: 193px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  padding: 6px 12px 6px 14px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../img/icon_select-arrow.svg');
  background-size: 12px 12px;
  background-position: 92% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}

select::-ms-expand {
display: none;
}

select:hover,
select:hover path {
  border: none;
  color: #000000;
  background-image: url('../img/icon_select-arrow-black.svg');
  background-size: 12px 12px;
  background-position: 92% 50%;
  background-repeat: no-repeat;

}

option {
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  height: 22px;
}

.price-box span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.price-box span:nth-of-type(2) {
  padding-left: 5px;
}

.price-box {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.number-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 163px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 6px;
  padding-left: 15px;
}

.number-box legend {
  margin-right:2px;
  padding-bottom: 0;
}

.number-box input {
  background-color: transparent;
  border: 0px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  -moz-appearance: textfield;
}

.range-box {
  position: relative;
  width: 176px;
  padding: 18px 18px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  color: #ffffff;
}

.range-controls {
  position: relative;
  min-height: 36px;
  padding-left: 22px;
  padding-right: 22px;
  background: #aabab0;
  border-radius: 20px;
  overflow: hidden;
}

.scale {
  margin-top: 16px;
  height: 4px;
  background: #d1d9d2;
}

.scale .bar {
  height: 4px;
  width: 90px;
  margin-left: 35px;
  background: #f8f7f4;
}

.min-toggle {
  left: 34px;
}

.toggle {
  position: absolute;
  top: 8px;
  left: 44px;
  width: 3px;
  height: 4px;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
  border: 8px solid #ffffff;

}

.max-toggle {
  left: 132px;
}

input[type=number] {
  width: 26px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

.fat-box {
  width: 386px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 4.5px 18px 4.5px 20px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  color: #ffffff;
}

.fat-box input[type="radio"] {
  display:none;
}

.fat-box label::before {
  content: "";
  display: inline-block;
  height: 23px;
  width: 23px;
  position: absolute;
  top: 2px;
  left: 0px;

  background-image: url(../img/icon_radio-off.svg);
  background-repeat: no-repeat;
  background-size: 23px;
  opacity: 0.8;
}

.fat-box input[type="radio"]:checked + label::before {
  content: "";
  height: 23px;
  width: 23px;

  background-image: url(../img/icon_radio-on.svg);
  background-repeat: no-repeat;
  background-size: 23px;
  opacity: 1;
}

.fat-box input[type="radio"]:disabled + label::before,
.fat-box input[type="radio"]:checked:disabled + label::before {
  opacity: 0.4;
}

.fat-box p {
  display: block;
  vertical-align: middle;
  margin: 0;
}

.fat-box label {
  display: inline-block;
  position: relative;

  vertical-align: middle;
  padding: 5px 15px 4px 33px;
}

p:last-of-type label {
  padding-right: 0;
}

.fill-box {
  width: 674px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 4.5px 14px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  color: #ffffff;
}

.fill-box input[type="checkbox"] {
  display:none;
}

.fill-box input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 3px;
  left: 3px;
  height: 20px;
  width: 20px;
  padding-right: 13px;
  background-image: url(../img/icon_checkbox-off.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  opacity: 0.8;
}

.fill-box input[type="checkbox"]:checked + label::before {
  content: "";
  height: 20px;
  width: 20px;
  background-image: url(../img/icon_checkbox-on.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  opacity: 1;

}

.fill-box p {
  display: block;
  vertical-align: middle;
  margin: 0;
  padding-top: 2px;
}

.fill-box label {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 0px 15px 5px 35px;
}

.fill-box input[type="checkbox"]:disabled + label::before,
.fill-box input[type="checkbox"]:checked:disabled + label::before {
  opacity: 0.4;
}

.filters-box-last button {
  font-weight: 500;
  padding: 5px 26px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 47px;
  padding-bottom: 35px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination-arrow-left {
  padding-right: 15px;
}

.pagination-arrow-right a {
  padding: 0;
  padding-left: 15px;
}

.pagination-arrow-right a:hover,
.pagination-arrow-right a:focus {
  border-radius: 0;
  background-color: transparent;
}

.catalog-section {
  border-bottom: 1px solid #a9bbb1;
  margin-bottom: 12px;
}
