html,
body {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-transform: none;

  background-position: top center;
  background-repeat: no-repeat;
}

header, main, footer {
  padding: 0 2.3%;
}


a, button {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;

}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

fieldset {
  border: 0px;
  padding: 0;
}

.bg-3 {
  background-color: #9d8b84;
  background-image: url("../img/bg_ice-cream-3.png");
}

.bg-2 {
  background-color: #8996a6;
  background-image: url("../img/bg_ice-cream-2.png");
}

.bg-1 {
  background-color: #849d8f;
  background-image: url("../img/bg_ice-cream-1.png");
}

.inner-page {
  background-color: #849d8f;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, transparent 15%);
  background-size: 2000px;
}

.main-header {
  min-height: 80px;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 75px;
}

.navigation-box {
  width: 530px;
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  width: 154px;
  height: 62px;
  padding: 0;
  justify-content: flex-start;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 350px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  min-height: 45px;
  white-space: nowrap;
}

.site-navigation li {
  margin: 0 auto;
}

.site-navigation a {
  padding: 5px 10px;
}

.site-navigation a,
.breadcrumbs a:not(last-of-type) {
  text-align: left;
  text-decoration: underline;
  text-decoration-color: #adbdb4;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;
  font-weight: 700;
  text-decoration: none;
  border-radius: 40px;
  border: none;
    background-color: #ffffff;
  box-shadow: none;
}

.site-navigation a:active {
  color: #333333;
  font-weight: 700;
  text-decoration: none;
  border-radius: 40px;
  border: none;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

ul{
  margin: 0;
  padding: 0;
}

.catalog-button {
  font-weight: 700;
  background-color: #d07058;
  border-radius: 15px;
}

.inner-catalog>a {
  text-decoration: none;
}
/*Как убрать underline элемента ? */
/*Как у ссылки убрать изменённое состояние после нажатия?*/


.catalog-navigation {
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 143px;
  height: 171px;
  position: absolute;
  top: 55px;
  margin-top: 0;
  list-style: none;
  display: none;
  z-index:1;
}

.catalog-navigation li:first-of-type {
  border-bottom: 1px solid #d1d0ce;
  font-weight: 700;
}

.catalog a:hover + .catalog-navigation,
.catalog-navigation:hover {
  display: block;
}

.catalog-navigation a {
  font-size: 14px;
  line-height: 16px;

  color: #323232;
  text-decoration: none;
  background-color: transparent;
  display: block;
  top: 0;
  left: 25px;
  width: 113px;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  margin-top: 5px;
  margin-left: -5px;
  margin-right: -5px;
}

.catalog-navigation a:last-of-type {
  padding-bottom: 5px;
}

.catalog-navigation li:first-of-type {
  border-bottom: 1px solid #d1d0ce;
}

.catalog-navigation li {
  margin-left: 5px;
  margin-right: 5px;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  font-weight: normal;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0px;
  background-color: #fbded7;
}
/*Жирный цвет при visited*/

li .current-page {
  background-color: #d07058;
  color: #ffffff;
}

li .current-page:hover,
li .current-page:focus
 {
  background-color: #d07058;
  color: #ffffff;
}

li .catalog-new:hover,
.catalog-new:focus {
  font-weight: 700;
}

.catalog-navigation a:active {
  background-color: #f6b5a5;
}

li .current-page:active {
  background-color: #d07058;
  color: #ffffff;
}

.user-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 263px;

  list-style: none;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-navigation li {
  display: flex;
  align-self: center;
  margin: 0 auto;
}

.catalog-new {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.search-form {
  width: 341px;
  height: 84px;
  position: absolute;
  top: 40px;

  list-style: none;
  display: none;
  z-index:1;
  background-color: #f8f7f4;
  color: #333333;

  border-radius: 5px;
}

.search-main {
  padding: 20px 15px;
}

.search-main input {
  width: 311px;
  height: 44px;
  text-align: left;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  color: #999999;
}

.search-main input::-webkit-input-placeholder {
color: #999999;
}

.search-main input:-moz-placeholder { /* Firefox 18- */
color: #999999;
}

.search-main input::-moz-placeholder {  /* Firefox 19+ */
color: #999999;
}

.search-main input:-ms-input-placeholder {
color: #999999;
}

.search-link {
  padding: 6px 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search-link:hover {
  filter: invert(100%);
  background-color: #000000;
}


.search-link:hover + .search-form,
.search-form:hover {
  display: block;
}

.modal-login {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-end;
  align-items: center;
  position: relative;
}

.login-form {
  width: 277px;
  height: 214px;
  position: absolute;
  top: 40px;

  list-style: none;
  display: none;
  z-index:1;
}

.login-link {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  vertical-align: middle;
  padding: 7px 16px;
  text-align: center;
}

.login-link img {
  margin: 0;
  vertical-align: middle;
  padding-right: 8px;
}


.login-link:hover {
  filter: invert(100%);
  background-color: #000000;
}

.user {
  display: block;
  width: 240px;
  height: 173px;
  padding: 20px;
}

.user p,
.user ul {
  margin: 0;
  margin-bottom: 20px;
}

.user input {
  width: 211px;
  height: 12px;
  text-align: left;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  color: #999999;
}

.user input::-webkit-input-placeholder {
color: #999999;
}

.user input:-moz-placeholder { /* Firefox 18- */
color: #999999;
}

.user input::-moz-placeholder {  /* Firefox 19+ */
color: #999999;
}

.user input:-ms-input-placeholder {
color: #999999;
}

.login-entrance {
  width: 240px;
  display: flex;
  flex-direction: row-reverse;
  justify-content:center;
  align-items: flex-start;
  position: relative;
}

.login-entrance ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;

}
.login-list a {
  margin: 0;
  padding: 0;
}

.login-entrance button {
  padding: 10px 23px;
}

.login-link:hover + .login-form,
.login-form:hover {
  display: block;

}

.modal-cart {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.cart-form {
  width: 510px;
  height: 202px;
  position: absolute;
  top: 40px;

  padding: 20px 15px 20px 15px;
  margin: 0;
  list-style: none;
  display: none;
  z-index:1;
}

.table-cart {
  width: 510px;
  height: 110px;
  text-align: left;
  padding: 0;
  margin: 0;

  border-bottom: 1px solid #cacac7;
}

td {
  padding-left: 15px;
  margin: 0;
}

td:nth-child(4),
td:nth-child(5) {
  white-space: nowrap;
}

.cart-link:hover + .cart-form,
.cart-form:hover {
  display: block;
}

.modal-cart p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;

  text-align: right;
  padding: 0;
  padding-bottom: 18px;
  margin: 0;
}

.cart-confirm {
  width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding: 0px;
  padding-top:17px;
}

.cart-confirm a {
  padding: 10px 14px;
}

.cart-form a {
  font-size: 18px;
  line-height: 24px;
}

.cart-link {
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 4px 35px 3px 15px;
  text-align: left;

}

.cart-link img {
  margin: 0;
  vertical-align: middle;
  padding-right: 8px;
}

.cart-link:hover {
  filter: invert(100%);
  background-color: #000000;
}

.short-contacts {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.short-contacts p {
  margin: 0;
  padding: 2px 0px;
}


.modal-reply {
  width: 477px;
  height: 442px;
  padding-top: 20px;
  padding-left: 25px;
  display: none;

}

.modal-reply h2 {
  margin-top: 0px;

}

.modal-reply button {
  float: right;
  margin-right: 25px;
  }

.modal-reply textarea {
  width: 432px;
}

.short-contacts p:first-child {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
}

.breadcrumbs, .breadcrumbs a  {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  list-style: none;
}

.background {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.background p {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

button[type="submit"],
.button {
  font-weight: 700;

  text-align: center;
  vertical-align: middle;

  background-image: linear-gradient(to top, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);

  border-radius: 40px;
  border: none;
}

button[type="submit"]:hover,
.button:hover {
  background-image: linear-gradient(to top, rgb(236,111,94) 100%, rgb(245,134,105) 0%);
  box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);
}

button[type="submit"]:active,
.button:active {
  background-image: linear-gradient(to bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;

  background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 9px;
  padding-bottom: 13px;
}

.slider-button:hover {
  background-image: linear-gradient(to top, rgb(236,111,94) 100%, rgb(245,134,105) 0%);
  box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
}

.slider-button:active {
  background-image: linear-gradient(to top, rgba(231,74,53) 100%, rgba(242,104,67) 0%);
  box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}
.slider-inner {
  visibility: hidden;
}

.slider-block {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.slider-list {
  list-style: none;
  position: relative;
}

.slider-list input[type="radio"] {
  display: none;
}

.slider-controls {
    width: 433px;
    margin-bottom: 10px;
    text-align: left;
    }

.slider-controls label {

    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.2s;
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;

    border: 3px solid #ffffff;
    margin-right: 5px;
}

.slider-controls label:hover,
.slider-controls label:focus {
    background-color: rgba(248,247,244,0.4);
}

.slider-list input[type="radio"]:checked label {
    background-color: #ffffff;
}

/*#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
}*/
.banners {
  width: 100%;
  height: 230px;
  display: flex;

  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

.banners ul {
  padding: 0;
  margin: 0;
}

.banners-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.banners-list h3 {
  font-size: 35px;
  line-height: 41px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

}

.banners-item {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 45%;
  padding: 20px;
}

.banners-item p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 35px;
}

.banners-item:first-of-type {
  background-image: url("../img/bg_malina.jpg");

  border-radius: 15px;
}

.banners-item:last-of-type {
  background-image: url("../img/bg_choko.jpg");

  border-radius: 15px;
}

.banner-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  align-self: flex-end;
  padding: 11px 23px;
  margin-bottom: 23px;
}

.catalog-list {
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.catalog-item {
  width: 267px;
  height: 325px;
  margin: 0;
  margin-bottom: 40px;

  position: relative;
  text-align: center;
}

.catalog-item a {
  padding: 0px;
}

.catalog-item h3 {
  display: inline-block;
  position: absolute;
  top: 268px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;

  text-decoration-color: #9db1a5;
  text-decoration-line: underline;
}

/*Подчёрквивание?*/

.catalog-item img {
  border-radius: 50%;
  border: none;
}

.catalog-item-hit::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../img/icon_hit.svg") no-repeat 0 0;

}

.bg_item-view {
  display: none;
  position: absolute;
  margin-top: -5px;
  width: 295px;
  height: 405px;
  padding-top: 15px;
  z-index: 1;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item:hover + .bg_item-view,
.bg_item-view:hover {
  display: block;
}

.item-price {
  position: absolute;
  top: 220px;
  left: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 1px 3px #313235;
}

.item-price span:first-of-type {
  vertical-align: middle;
  margin: 0px -5px;
  height: 100%;

  filter: drop-shadow(0px 1px 3px rgba(49,50,53,0.5));
}

.item-price span:last-of-type {
  font-size: 30px;
  margin: 0px -5px;
}

.item-view {
  display: none;
  position: absolute;
  top: 355px;
  left: 45px;

  padding: 10px 17px;

  z-index: 2;

  font-size: 18px;
  line-height: 24px;
  text-align: center;

  box-shadow: 0 1px 2px #ac1000;
}

.features {
  width: 100%;
  background-image: url("../img/bg_waffle.jpg");
  border-radius: 15px;
}

.features-box {
  display: flex;
  justify-content: flex-start;
  padding: 30px 30px 30px 20px;
  flex-wrap: wrap;
}

.features-box h2,
.news h2 {
  line-height: 0px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.features-box p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.features-left p,
.features-right p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.features-box h2 + p {
  display: flex;
  width: 1098px;
  margin: 0;
}

.features-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
}

.features-left,
.features-right {
  width: 533px;
}

.features-item {
  display: flex;
  width: 533px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;

}

.features-item p {
  width: 475px;
  margin: 0;
  margin-top: 30px;
}

.features-left li:first-child::before {
  content: url(../img/icon_ice-cream.svg);
  width: 49px;
  margin-top: 10px;
}

.features-left li:last-child::before {
  content: url(../img/icon_eco.svg);
  width: 49px;
  margin-top: 10px;
}

.features-right li:first-child::before {
  content: url(../img/icon_cow.svg);
  width: 49px;
  margin-top: 10px;
}

.features-right li:last-child::before {
  content: url(../img/icon_thermometer.svg);
  width: 49px;
  margin-top: 10px;
}

.news-and-mail {
  margin: 40px 0;
  padding: 0;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: space-between;

  list-style: none;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.news {
  display: flex;
  flex-direction: column;
  width: 560px;

  background-image: url("../img/bg_strawberry.jpg");

  border-radius: 15px;
}

.news:first-of-type p {
  margin: 0;
  padding: 27px 0px 0px 20px;
  font-weight: 500;
  text-align: left;
  color: #323232;
}

.news a {
  width: 290px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;

  text-decoration: underline;
}

.news a:hover, .news a:focus{
  color: #e84d37;
}

.news a:active {
  color: #e84d37;
}

.post-form {
  display: flex;
  width: 560px;
  background: url("../img/icon_bg_post.svg") no-repeat 0 0;

  border-radius: 15px;
}

.mailing-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 550px;
  margin: 6px;
  background-color: #f8f7f4;
  border-radius: 15px;
}


.mail-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 510px;
  margin: 0;
  padding: 35px 20px 35px 20px;
}

.mailing-form p {
  align-self: flex-start;
  margin: 0 auto;
}

.signup {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 510px;
  flex-wrap: wrap;
  margin: 0 auto;

}

.signup input {
  width: 366px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  color: #999999;
}

.signup input::-webkit-input-placeholder {
color: #999999;
}

.signup input:-moz-placeholder { /* Firefox 18- */
color: #999999;
}

.signup input::-moz-placeholder {  /* Firefox 19+ */
color: #999999;
}

.signup input:-ms-input-placeholder {
color: #999999;
}

.signup button {
  padding: 7.5px 15.5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}


.map {
  display: flex;
  padding: 0 ;
  margin: 0 -2.3%;
  width: 1200px;
  height: 430px;
  overflow:hidden;
  position: relative;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.map span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  width: 95.4%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 25px;
}

.footer-social {
  width: 188px;
  margin: 0;
  margin-right: auto;
}

.social-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-self: flex-start;
}

.footer-navigation {
  width: 330px;
  align-self: center;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  text-decoration-line: underline;
  text-decoration-color: #ffffff;
}

.contacts {
  display: block;
  width: 302px;
  height: 305px;
  position: absolute;
  top: 65px;
  right: 28px;
  z-index: 1;

  color: #000000;

  background-color: #ffffff;
  border-radius: 15px;
}

.contacts .button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-box {
  display: flex;
  width: 251px;
  height: 241px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 35px 26px 30px 26px;
}

.contacts-box p {
  margin: 0;
  margin-bottom: auto;
}

.contacts-box a {
  margin: 0;
  margin-top: auto;
  padding: 9.5px 10px;
}


.social-button img {
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-button img:hover,
.social-button img:focus {

  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button img:active {

  border: 3px solid rgba(255, 255, 255, 0.7);
}

.suppliers {
  font-weight: 700;
}

.social-list {
  list-style: none;
}

.social-button img {
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-button img:hover,
.social-button img:focus {
  opacity: 1;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button img:active {
  opacity: 0.8;

  filter: drop-shadow(0px 0px 0px #e9e9e9);
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-navigation a:hover {
  color: #ffbc9e;
}


.footer-copyright {
  width: 190px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  margin-left: auto;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color:#ffffff;
}


.footer-copyright a {
  text-decoration-line: underline;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #ffbc9e;
}

.copyright {
  padding: 0px;
  text-decoration-color: #9db1a5;
}

.internal-navigation {
  height: 43px;
  width: 305px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  list-style: none;
}

.internal-navigation a {
  text-decoration-color: #9db1a5;
}

.internal-navigation li:first-child::before {
  margin-left: -15px;
  content: url(../img/icon_heart.svg);
  width: 15px;
  height: 15px;
}


.modal {
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.modal-login {

}

.user button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.login-list a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration-line: underline;
  text-decoration-color: #adacaa;
}

.modal-cart {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.table-cart span {
  color: #999999;
}


.modal-reply {

  background-color: #f8f7f4;
  border-radius: 5px;
}

.modal-reply h2 {

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-reply button {
  font-size: 18px;
  line-height: 24px;
  }

.modal-reply textarea {

}

/*Как создать затемнение и вывод на весь экран?*/

.breadcrumbs {

  list-style: none;
}

.breadcrumbs li:not(:last-of-type)::after {
    content: "»";
}
/*Вставить content: "»" для всех*/

.filters {


  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 7px;
}

.filters button {


  font-size: 16px;
  line-height: 18px;

  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 20px;


  background-image: none;
  box-shadow: none;
}

.filters button:hover,
.filters button:focus {
  color: #323232;

  background-color: rgb(255, 255, 255);
  border-radius: 20px;

  background-image: none;
  box-shadow: none;
}

.filters button:active {
  color: #323232;

  background-color: #ededed;
  border-radius: 20px;

  background-image: none;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-arrow-left img {
  transform: scale(-1, 1);
}

.pagination-arrow-right img {
  filter: brightness(200%);
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
}

.pagination-item-current a,
.pagination-item a:active {
  color: #323232;
  line-height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  font-weight: 500;
}
/* Нет белого фона при нажатии ?*/


.visually-hidden {
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  height: 0;
  width: 0;
}

/*Как верно отобразить Быстрый просмотр ? */


/*---INNER.HTML---*/
/*Как создать затемнение и вывод на весь экран?*/

.breadcrumbs-box {
  width: 100%;
  height: 44px;
  margin-top: 0px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
}

.short-contacts-inner {
  width: 167px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 221px;
}

.breadcrumbs a {
  padding: 0;
  padding-right: 8px;
}

h1 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-content: center;
  margin-top: 0;
  margin-bottom: 35px;
}

.filtr {
  display: flex;
  width: 860px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.filters {
  margin: 0;
  padding: 0;
}

.filters button {
  width: 143px;
  height: 36px;

  font-size: 16px;
  line-height: 18px;
  border: 2px solid #ffffff;
}

.filters button:hover,
.filters button:focus {
  border: 2px solid #ffffff;
}

.filters button:active {
  border: 2px solid #ffffff;
}

.filters-box-first {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filters-box-first legend {
  margin-left: 16px;
}

.filters-box-last {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.filters-box-last legend {
  padding: 0;
  margin-bottom: 10px;
  padding-left: 16px;

}

.filters-box-last p {
  margin: 0;
}
label {
  cursor: pointer;
}
select {
  width: 193px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  padding: 9px 14px;
  color: #ffffff;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../img/icon_select-arrow.svg');
  background-size: 12px 12px;
  background-position: 92% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}

select:hover {
  border: none;
  filter: invert(100%);
    background-color: rgba(7, 8, 11, 0.2);
}

option {
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  height: 22px;
}

.price-box span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.price-box span:nth-of-type(2) {
  padding-left: 5px;
}

.price-box {
  width: 220px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.number-box {
  display: flex;
  width: 163px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
}

.number-box legend {
  margin-right:2px;
  padding-bottom: 0;
}

.number-box input {
  background-color: transparent;
  border: 0px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.range-box {
  width: 176px;
  padding: 5.5px 21px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  color: #ffffff;

}

input[type="range"] {
  width: 176px;
  cursor: pointer;
}

input[type=number] {
  width: 26px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

.fat-box {
  width: 386px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  padding: 4.5px 14px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  color: #ffffff;
}

.fat-box input[type="radio"] {
    display:none;
}

.fat-box input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 23px;
    width: 23px;
    padding-right: 10px;
    background-image: url(../img/icon_radio-off.svg);
    background-repeat: no-repeat;
    background-size: 23px;
    opacity: 0.8;
  }

.fat-box input[type="radio"]:checked + label::before {
  content: "";
  height: 23px;
  width: 23px;
  padding-right: 10px;
  background-image: url(../img/icon_radio-on.svg);
  background-repeat: no-repeat;
  background-size: 23px;
  opacity: 1;
}

.fat-box input[type="radio"]:disabled + label::before,
.fat-box input[type="radio"]:checked:disabled + label::before {
  opacity: 0.4;
}

.fat-box p {
  display: block;
  vertical-align: middle;
  margin: 0;
  }

.fat-box label {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding-right: 15px;
}

p:last-of-type label {
  padding-right: 0;
}

.fill-box {
  width: 674px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  padding: 4.5px 14px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  color: #ffffff;
  }

.fill-box input[type="checkbox"] {
    display:none;
  }

.fill-box input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    padding-right: 13px;
    background-image: url(../img/icon_checkbox-off.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    opacity: 0.8;
}

.fill-box input[type="checkbox"]:checked + label::before {
  content: "";
  height: 20px;
  width: 20px;
  background-image: url(../img/icon_checkbox-on.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  opacity: 1;

}

.fill-box p {
  display: block;
  vertical-align: middle;
  margin: 0;
  padding-top: 5px;
}

.fill-box label {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding-right: 20px;

}

.fill-box input[type="checkbox"]:disabled + label::before,
.fill-box input[type="checkbox"]:checked:disabled + label::before {
  opacity: 0.4;
}

.filters-box-last button {
  font-weight: 500;
  padding: 9px 25px;
}

.pagination-list {
  display: flex;
  width: 100%;
  margin-top: 82px;
  padding-bottom: 30px;
  justify-content: flex-end;
  align-items: center;
}

.pagination-arrow-left {
  padding-right: 15px;
}

.pagination-arrow-right a {
  padding: 0;
  padding-left: 15px;
}

.pagination-arrow-right a:hover,
.pagination-arrow-right a:focus {
  border-radius: 0;
  background-color: transparent;
}

.catalog-section {
  border-bottom: 1px solid #a9bbb1;
}
